body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Montserrat', Arial;
}
#roundTimeDisplayContainer {
	position: fixed;
	top: 10px;
	left: 0;
	right: 0;
	height: 60px;
	font-size: 4em;
	color: red;
	font-weight: bold;
}
#playersSidebar {
	position: fixed;
	z-index: 2;
	right: 0;
	top: 0;
	background: rgba(0, 10, 10, 0.6);
	color: white;		
	border: solid 1px black;
	width: 200px;
	min-height: 100px;
}
#playersSidebar label {
	margin: 10px;
	font-size: 1.5em;
	margin-left: 20px;
	font-weight: bold;
	box-sizing: border-box;
}
#playersSidebar ul li {
	list-style: none;
	height: 50px;
	margin-left: -10px;
	vertical-align: center;
	box-sizing: border-box;
}
#playersSidebar ul li img {
	vertical-align: middle;
	border: none;
	margin-right: 10px;
}
#pauseOverlay {
	display: none;
	position: fixed;
	z-index: 1;
	right: 0;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.9);
}
#pauseOverlayImage {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 387.75px;
	height: 344.25px;
	display: block;
}
#pauseOverlay label {
	margin-top: 20px;
	font-size: 3em;
	font-weight: bold;
	color: white;
}
#pauseOverlay small {
	font-size: 1.5em;
	color: white;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.centered-horizontally {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}